<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/AP-G-1PRO-Webontwikkeling/project-webontwikkeling-pncgrc/main/project/pokemon-images/favicon-32x32.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>My Pokémon Team</title>
</head>
<body>
    <header>
        <a href="/"><img src="https://raw.githubusercontent.com/AP-G-1PRO-Webontwikkeling/project-webontwikkeling-pncgrc/main/project/pokemon-images/logo-pokeball.png" alt="Pokeball website logo" id="logo"></a>
        <h1>My Pokémon Team</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/abilities">Abilities</a></li>           
        </ul>
    </nav>
    <main>