<%- include("./partials/header") %>
<%- include("./partials/logout-section") %>

<h2><%= message %></h2>

<img src="https://raw.githubusercontent.com/AP-G-1PRO-Webontwikkeling/project-webontwikkeling-pncgrc/main/project/pokemon-images/pikachu-fainted.png" alt="Fainted Pikachu" width="600px">

<%- include("./partials/footer") %>